@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: var(--color-stone-800);
    --color-base-200: var(--color-stone-900);
    --color-base-300: var(--color-stone-950);
    --color-base-content: var(--color-zinc-300);
    --color-primary: var(--color-red-500);
    --color-primary-content: var(--color-red-100);
    --color-secondary: var(--color-blue-500);
    --color-secondary-content: var(--color-blue-100);
    --color-neutral: var(--color-stone-300);
    --color-neutral-content: var(--color-stone-900);
}