@plugin "daisyui/theme" {
    name: "kardinal";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(95.814% 0 0);
    --color-base-200: oklch(89.107% 0 0);
    --color-base-300: oklch(82.4% 0 0);
    --color-base-content: oklch(19.162% 0 0);
    --color-primary: oklch(50% 0.213 27.518);
    --color-primary-content: oklch(97% 0.013 17.38);
    --color-secondary: oklch(53.2% 0.046 63);
    --color-secondary-content: oklch(100% 0.046 36.200);
    --color-accent: oklch(90% 0.058 230.902);
    --color-accent-content: oklch(29% 0.066 243.157);
    --color-neutral: oklch(7.6% 0.010 49.250);
    --color-neutral-content: oklch(92% 0.003 48.717);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(13.844% 0.019 207.284);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(12.199% 0.016 174.616);
    --color-warning: oklch(70.081% 0.164 56.844);
    --color-warning-content: oklch(14.016% 0.032 56.844);
    --color-error: oklch(53.07% 0.241 24.16);
    --color-error-content: oklch(90.614% 0.048 24.16);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}