@plugin "daisyui/theme" {
    name: "kardinal";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: var(--color-red-400);
    --color-base-200: var(--color-red-600);
    --color-base-300: var(--color-red-800);
    --color-base-content: var(--color-red-50);
    --color-primary: var(--color-stone-800);
    --color-primary-content: var(--color-stone-300);
    --color-secondary: var(--color-orange-300);
    --color-secondary-content: var(--color-orange-950);
}
