{% extends 'base.html' %}
{% load static wagtailcore_tags base_tags %}

{% block body_class %}
  template-dashboard
{% endblock %}

{% block title %}
  Pantalla principal
{% endblock %}
{% block content %}
  <h1 class="text-2xl font-bold underline underline-offset-1">{{ page.subtitle }}</h1>
  {% comment %}TODO Hacer el dash de posts de seguidores y de etiquetas seguidas{% endcomment %}
  {% for post in feed %}
    {% include "partials/blog_post.html" with page=post %}
  {% endfor %}
{% endblock %}
