# Django-specific files
*.log 
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
migrations/
dumps/
media/
# No se puede almacenar en Github
app/.django_tailwind_cli/tailwindcss-linux-x64-4.2.1

# Virtual Environment
.env
venv/
env/

# PyCharm-specific files
.idea/

# Other files
.DS_Store
Thumbs.db
.coverage
.tox/
.eggs/
.code-workspace