{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block title %}
  Búsqueda
{% endblock %}

{% block body_class %}
  template-searchresults
{% endblock %}

{% block content %}
  <h1 class="text-2xl mb-4">Búsqueda de entradas de blog</h1>
  <p class="font-light">Se pueden buscar según autor, etiquetas, categorías, entre otros atributos.</p>
  <form action="{% url 'search' %}" method="get" class="mb-4">
    <div class="join">
      <label class="join-item">
        <input class="input" placeholder="Búsqueda" type="search" 
        name="query"{% if search_query %} value="{{ search_query }}"{% endif %} />  
      </label>
      <input type="submit" value="Buscar" class="btn btn-primary join-item" />
    </div>
  </form>

  {% if search_results %}
    <p>
      Buscaste
      {% if search_query %}
        "{{ search_query }}"
      {% endif %}, {{ total_results }}
      resultado{{ total_results|pluralize }}
      encontrado{{ total_results|pluralize }}.
    </p>
    <ol class="list">
      {% for result in search_results %}
        <li class="list-row">
          <a class="link link-hover" href="{% pageurl result %}">{{ result }}</a>
          {% if result.search_description %}
            {{ result.search_description }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    {% if total_pages > 1 %}
      <p>Página {{ search_results.number }} de {{ total_pages }}, mostrando {{ search_results|length }} resultado{{ search_results|pluralize }} de {{ total_results }}</p>
    {% endif %}

    <ul class="join">
      {% if search_results.has_previous %}
        <li class="join-item btn">
          <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">
            Anterior
          </a>
        </li>
      {% endif %}
      {% for page_num in page_range %}
        <li class="join-item btn {% if page_num == search_results.number %}btn-active{% endif %}">
          <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ page_num }}">
            {{ page_num }}
          </a>
        </li>
      {% endfor %}
      {% if search_results.has_next %}
        <li class="join-item btn">
          <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">
            Siguiente
          </a>
        </li>
      {% endif %}
    </ul>
  {% elif search_query %}
    <p class="text-lg font-semibold">No se han encontrado resultados.</p>
  {% endif %}
{% endblock %}
