{% extends 'wagtailusers/users/edit.html' %}
{% load wagtailadmin_tags %}
{% block fields %}
  {% if form.separate_username_field %}
    <li>
      {% formattedfield form.username_field %}
    </li>
  {% endif %}
  <li>
    {% formattedfield form.email %}
  </li>
  {% block extra_fields %}

  {% endblock %}
  {% if form.password1 %}
    <li>
      {% formattedfield form.password1 %}
    </li>
  {% endif %}
  {% if form.password2 %}
    <li>
      {% formattedfield form.password2 %}
    </li>
  {% endif %}
  {% if form.is_active %}
    <li>
      {% formattedfield form.is_active %}
    </li>
  {% endif %}
{% endblock %}
