@import "tailwindcss";

@theme {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
}

:root {
    --background: hsl(100,100,100);
    --foreground: hsl(10,10,10);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(0,0,0);
        --foreground: hsl(100,100,100);
    }
}

html[data-theme="light"] {
    --background: hsl(100,100,100);
    --foreground: hsl(10,10,10);
}

html[data-theme="dark"] {
    --background: hsl(0,0,0);
    --foreground: hsl(100,100,100);
}

@layer components {
    .form-field {
        @apply px-4 py-2 rounded-2xl border-2 border-foreground
    }
    .form-label {
        @apply p-2 font-bold
    }
    .link {
        @apply text-red-700 hover:text-red-500
    }
    .page-link {
        @apply text-base font-normal p-1 border-2 rounded-3xl bg-red-500/75 hover:bg-red-500 hover:text-red-300
    }
    .post-link {
        @apply text-2xl font-bold mb-2 hover:text-red-400/50
    }
    .action-button {
        @apply shadow-2xl bg-green-500/75 border-2 px-4 py-2 mt-5 hover:bg-green-500 hover:text-green-300
    }
    .error-alert {
        @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative
    }
}