<div class="dropdown dropdown-right">
  <div tabindex="0" role="button" class="icon-button mb-1">
    {% include 'base/icons/dots.svg' %}
  </div>
  <ul tabindex="-1" class="menu dropdown-content">
    {% if comment.user == user %}
      <li>
        <button class="btn btn-ghost" hx-get="{% url 'page_comments:edit_comment' comment.pk %}"
         onclick="modal.showModal()" hx-target="#modal-box">
         Editar
         {% include 'base/icons/edit.svg' %}
        </button>
      </li>
    {% endif %}
    {% if comment.user == user or comment.page.owner == user %}
      <li>
        <button class="btn btn-ghost text-error" hx-get="{% url 'page_comments:delete_comment' comment.pk %}" 
        onclick="modal.showModal()" hx-target="#modal-box">
        Borrar
        {% include 'base/icons/delete.svg' %}
        </button>
      </li>
    {% endif %}
  </ul>
</div>
