{% load base_tags %}
<div class="comment-likes">
  {% if user.is_authenticated %}
      {% comment_liked_by_user as liked %}
      {% with liked_by_user_class=liked|yesno:'liked,not-liked' %}
        <button class="like-button {{ liked_by_user_class }}" 
        hx-post="{% url 'page_comments:like_comment' comment.pk %}" hx-target="closest .comment-likes" 
        hx-swap="outerHTML"
        aria-label="Botón de me gusta">
        {% include 'base/icons/heart.svg' %}
        </button>
      {% endwith %}
  {% endif %}
  <span>{{ comment.like_count }} Me gusta</span>
</div>
