<h2 class="text-lg font-bold">
  Editando comentario '{{ comment.content|truncatechars:15 }}'
</h2>
<form class="mb-4"
hx-post="{% url 'page_comments:edit_comment' comment.pk %}" 
hx-target="#comment-{{ comment.pk }}" hx-swap="outerHTML" 
hx-on::after-request="this.reset(); modal.close()">
  {% csrf_token %}
  {% include "partials/comment_form_content.html" %}
  <div class="modal-action mt-2">
    <button type="submit" class="modal-button btn-primary">Sí</button>
    <button type="button" class="modal-button btn-neutral" onclick="modal.close()">No</button>
  </div>
</form>
