{% extends 'base.html' %}
{% load static wagtailcore_tags base_tags %}

{% block body_class %}
  template-blogpage
{% endblock %}

{% block content %}
  <h2 class="text-2xl font-bold text-foreground mb-2 text-center">{{ page.title }}</h2>
  {% get_user_profile user=page.owner %}
  <div class="card card-actions">
    <a class="btn btn-neutral" href="{% url 'blog:add_post' %}">Añadir post</a>
  </div>
  <div class="prose ">
    {% for post in page.get_children.live %}
      <div class="card card-border card-lg shadow-lg">
        <div class="card-body">
          <div class="card-actions">
            <a class="btn-link btn-md" href="{% pageurl post.get_parent %}">
              {{ post.owner }}
            </a>
          </div>
          <a href="{% pageurl post %}" class="link-primary card-title">{{ post.title }}</a>
          <p class="text-wrap text-justify">{{ post }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
