{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
  template-postpage
{% endblock %}

{% block content %}
  <h2>{{ page.title }}</h2>
{#  {% image page.header_image fill-200x200 %} #}

  {% comment %}
  <div>
    {{ page.content|richtext }}
  </div> 
  {% endcomment %}
  <article>
  {% for block in page.body %}
    <section>{% include_block block %}</section>
  {% endfor %}
  </article>
  <div class="tags">
    {% for tag in page.tags.all %}
      <label>{{ tag }}</label>
    {% endfor %}
  </div>
{% endblock %}