{% load static wagtailcore_tags tailwind_tags django_htmx %}

<!DOCTYPE html>
<html lang="es" data-theme="{{ settings.theme }}" class="{{ settings.font }}">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if page.seo_title %}
          {{ page.seo_title }}
        {% else %}
          {{ page.title }}
        {% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}
          - {{ current_site.site_name }}
        {% endif %}
      {% endblock %}
    </title>

    {% if page.search_description %}
      <meta name="description" content="{{ page.search_description }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Los enlaces de previsualización se abren en otra pestaña #}
    {% if request.in_preview_panel %}
      <base target="_blank" />
    {% endif %}

    {# Temas soportados #}
    {# <meta name="color-scheme" content="light dark" /> #}

    {# Icono de las pestañas #}
    <link rel="icon" type="image/x-icon" href="{% static 'img/kardinal-logo.svg' %}" alt="Icono del sitio" />

    {# CSS Global #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    {% tailwind_css %}
    {% htmx_script %}
    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
  class="bg-background text-foreground min-h-lvh max-w-4xl p-2.5 mt-0 mb-0 ml-auto mr-auto grid gap-12 grid-rows-1 {% block body_class %}{% endblock %}">
    {% include 'includes/header.html' %}
    <main id="main">
      {% block content %}
      {# Contenido de la página web #}
      {% endblock %}
    </main>

    {% include 'includes/footer.html' %}
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
    {% include 'components/modal.html' %}
  </body>
</html>
