{% extends 'base.html' %}
{% load static wagtailcore_tags base_tags %}

{% block body_class %}
  template-blogindex
{% endblock %}

{% block content %}
  <div class="bg-base text-base-content" data-theme="{{ page.theme }}">
    <h2 class="text-2xl font-bold mb-2 text-center">{{ page.title }}</h2>
    <a class="btn btn-primary" href="{% url 'wagtailadmin_pages:add' 'blog' 'blogpostpage' page.pk %}">Añadir entrada</a>

    {% for post in posts %}
      <div class="card card-border bg-base-100 w-96">
        <div class="card-body prose">
          <div class="card-actions">
            {% include 'partials/blog_post_actions.html' %}
          </div>
          <div class="card-title">
            <a href="{% pageurl post %}" class="link-neutral">{{ post.title }}</a>
          </div>
          <div>{{ post.body|truncatewords_html:15 }}</div>
        </div>
        {% include "partials/blog_post_likes.html" with page=post %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
