{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags base_tags %}

{% block title %}
  {{ page.title }}
{% endblock %}
{% block body_class %}
  template-blog
{% endblock %}

{% block content %}
  <section data-theme="{{ blog.theme }}">
    <header>
      {% get_breadcrumbs %}
      <h1 class="text-3xl font-bold capitalize mb-4">{{ page.title }}</h1>
      <h2 class="font-semibold mb-2 px-2">{{ page.subtitle }}</h2>
    </header>
    <div class="grid grid-cols-2 gap-4">
      <article class="prose prose-sm">{{ page.body }}</article>
      <aside class="flex flex-row">
        <div class="space-y-4">
          {% post_categories %}
          {% post_tags %}
        </div>
        {% include 'partials/blog_post_likes.html' %}
      </aside>
    </div>
    <footer class="grid grid-cols-2 gap-2">
      <section id="author" class="col-span-2">
        <span class="text-md font-bold underline">Autor</span>
        {% user_with_pfp user=page.owner %}
      </section>
      <section id="date">
        <span class="text-md">Publicado el <time>{{ page.first_published_at|date:'SHORT_DATE_FORMAT' }}</time></span>
        {% if page.edited %}
          <span class="text-md">Editado el <time>{{ page.last_published_at|date:'SHORT_DATE_FORMAT' }}</time></span>
        {% endif %}
      </section>
      <a href="{% pageurl blog %}" class="btn link link-hover">Volver al blog</a>
    </footer>
  </section>
  <div class="divider"></div>
  {% include 'comments/comments.html' %}
{% endblock %}
