{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags base_tags %}

{% block body_class %}
  template-blogpost
{% endblock %}

{% block content %}
  <div data-theme="{{ parent.theme }}">
    <article>
      <h1 class="text-3xl">{{ page.title }}</h1>
      <span class>Publicado el {{ page.date|date:'SHORT_DATE_FORMAT' }}</span>
      <div class="prose">{{ page.body }}</div>
      <div id="categories">
        <span>Categorías:</span>
        {% for category in categories %}
          <label class="category">{{ category.blog_category.name }}</label>
        {% endfor %}
      </div>
      <div id="tags">
        <span>Etiquetas:</span>
        {% for tag in tags %}
          <label class="tag">#{{ tag }}</label>
        {% endfor %}
      </div>
      {% include 'partials/blog_post_likes.html' %}
    </article>
    <div class="divider"></div>
    {% include 'comments/comments.html' %}
  </div>
{% endblock %}
