{% extends 'base.html' %}
{% load wagtailcore_tags base_tags %}

{% block title %}
  {{ page.title }}
{% endblock %}
{% block body_class %}
  template-blogindex
{% endblock %}

{% block content %}
  <div data-theme="{{ page.theme }}">
    {% if page.subtitle %}
      <h2 class="text-2xl font-bold mb-2 text-center">{{ page.subtitle }}</h2>
    {% endif %}
    {% if page.owner == user %}
      <a class="btn btn-primary" href="{% url 'wagtailadmin_pages:add' blog_app blog_model page.pk %}">Añadir entrada</a>
    {% endif %}
    <div class="">
      {% if tag %}
        <span>Mostrando entradas etiquetadas como '{{ tag }}'</span>
      {% endif %}
      {% if category %}
        <span>Mostrando entradas categorizadas como '{{ category }}'</span>
      {% endif %}
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-6">
      {% for post in posts %}
        {% include 'partials/blog_post.html' with page=post %}
      {% endfor %}
      <aside class="card card-border shadow-md">
        <div class="card-body">
          {% user_with_pfp page.owner show_bio=True %}
        </div>
      </aside>
    </div>
  </div>
{% endblock %}
