{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags base_tags %}

{% block title %}
  {{ page.title }}
{% endblock %}
{% block body_class %}
  template-blogpost
{% endblock %}

{% block content %}
  <div data-theme="{{ blog.theme }}">
    {% get_breadcrumbs %}
    <article>
      <h1 class="text-3xl font-bold capitalize mb-4">{{ page.title }}</h1>
      <h2 class="font-semibold mb-2">{{ page.subtitle }}</h2>
      <div class="flex flex-col grid-cols-1 bg-base-200 p-4">
        <div>
          <span>Autor:</span>
          {% get_user_with_pfp user=page.owner %}
        </div>
        <div class="divider bg-base-300 text-base-100"></div>
        <span class="text-md">Publicado el <time>{{ page.first_published_at|date:'SHORT_DATE_FORMAT' }}</time></span>
        {% if page.edited %}
          <span class="text-md">Editado el <time>{{ page.last_published_at|date:'SHORT_DATE_FORMAT' }}</time></span>
        {% endif %}
      </div>
      <div class="prose">{{ page.body }}</div>
      {% post_categories %}
      {% post_tags %}
      {% include 'partials/blog_post_likes.html' %}
    </article>
    <div class="divider"></div>
    {% include 'comments/comments.html' %}
  </div>
{% endblock %}
