{% load wagtailcore_tags navigation_tags wagtailuserbar %}
<header class="bg-background">
  <a href="#main" class="skip-link">Saltar al contenido</a>
  {% get_site_root as site_root %}
  <nav>
    <p>
      <a class="bg-gray-500 text-foreground" href="{% pageurl site_root %}">{{ site_root.title }}</a> |
      {% for menu_item in site_root.get_children.live.in_menu %}
        <a class="text-foreground" href="{% pageurl menu_item %}">{{ menu_item.title }}</a>
        {% if not forloop.last %} | {% endif %}
      {% endfor %}
    </p>

    {% get_theme_select %}
    <form action="{% url 'change_font' %}" method="post" class="text-foreground font-semibold mb-1">
      {% csrf_token %}
      <select name="font" class="w-full p-2 border border-gray-300 rounded-md form-select">
          <option value="font-sans" {% if font == 'font-sans' %}selected{% endif %}>Fuente sans-serif</option>
          <option value="font-serif" {% if font == 'font-serif' %}selected{% endif %}>Fuente serif</option>
      </select>
      <button class="text-foreground" type="submit">Seleccionar tipo de fuente</button>
    </form>
  </nav>
  {% wagtailuserbar 'top-right' %}
</header>