{% load wagtailcore_tags navigation_tags wagtailuserbar %}
<header class="bg-background">
  <a href="#main" class="skip-link">Saltar al contenido</a>
  {% get_site_root as site_root %}
  <nav>
    <p>
      <a class="bg-gray-500 text-foreground" href="{% pageurl site_root %}">{{ site_root.title }}</a> |
      {% for menu_item in site_root.get_children.live.in_menu %}
        <a class="text-foreground" href="{% pageurl menu_item %}">{{ menu_item.title }}</a>
        {% if not forloop.last %} | {% endif %}
      {% endfor %}
    </p>
    <form action="{% url 'toggle_theme' %}" method="post" class="text-gray-700 font-semibold mb-1">
      {% csrf_token %}
      <select name="theme" class="w-full p-2 border border-gray-300 rounded-md form-select">
          <option value="light" {% if theme == 'light' %}selected{% endif %}>Claro</option>
          <option value="dark" {% if theme == 'dark' %}selected{% endif %}>Oscuro</option>
      </select>
      <button type="submit">Seleccionar tema</button>
    </form>
  </nav>
  {% wagtailuserbar 'top-right' %}
</header>