{% load wagtailcore_tags base_tags wagtailuserbar allauth %}
<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <div class="menu-menu-horizontal">
      <a class="btn btn-link" href="{% pageurl site_root %}">{{ site_root.title }}</a>
      {% for menu_item in site_root.get_children.live.in_menu %}
        <a class="btn btn-link" href="{% pageurl menu_item %}">{{ menu_item.title }}</a>
      {% endfor %}
      <a class="btn btn-link" href="/search/">Búsqueda</a>
    </div>
  </div>
  <div class="flex-none">
    {% if user.is_authenticated %}
      {% get_user_with_pfp user %}
      <a class="btn btn-primary" href="{% url 'account_logout' %}">Cerrar Sesión</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'account_login' %}">Iniciar Sesión</a>
      <a class="btn btn-primary" href="{% url 'account_signup' %}">Registrarse</a>
    {% endif %}
  </div>
</nav>
