{% load static wagtailcore_tags base_tags %}
<div class="chat chat-start">
  <div class="chat-image avatar {% if comment.user.profile.profile_picture == null %}avatar-placeholder{% endif %}">
    <div class="w-10 rounded-full {% if comment.user.profile.profile_picture == null %}bg-neutral-300{% endif %}">
      {% if comment.user.profile.profile_picture.url != null %}
        <img src="{{ comment.user.profile.profile_picture.url }}" alt="Foto de perfil del usuario" />
      {% else %}
        <span class="text-2xl">{{ comment.user.username|initials }}</span>
      {% endif %}
    </div>
  </div>
  <div class="chat-header">
    <a class="text-sm mx-1.5 link link-neutral" href="{% slugurl comment.user.username %}">{{ comment.user.username }}</a>
    <span>{{ comment.created_at|date:'SHORT_DATE_FORMAT' }}</span>
  </div>
  <p class="chat-bubble">{{ comment.content }}</p>
</div>
