{% load base_tags allauth %}
<div class="join join-vertical lg:join-horizontal gap-2">
  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'account_logout' %}">Cerrar Sesión</a>
  {% else %}
    <a class="btn btn-primary join-item" href="{% url 'account_login' %}">Iniciar Sesión</a>
    <a class="btn btn-primary join-item" href="{% url 'account_signup' %}">Registrarse</a>
  {% endif %}
</div>
<div class="join join-vertical gap-2">
    <div class="join-item">
    {% app_theme_selector %}
  </div>
  <div class="join-item">
    {% app_font_families_selector %}
  </div>
</div>