{% load static allauth base_tags menu_tags %}
<nav class="navbar bg-base-100 shadow-md h-36">
  <div class="flex-1">
    <img src="{% static 'img/kardinal-logo.svg' %}" alt="Logo de Kardinal" />
    <span>Kardinal</span>
  </div>
  <div class="flex-none">
    {% main_menu max_levels=1 template='menus/main_menu.html' apply_active_classes=True %}
  </div>
  <div class="navbar-end gap-4">
    {% if user.is_authenticated %}
      {% get_user_with_pfp user %}
    {% endif %}
    {% include 'base/includes/header_actions.html' %}
  </div>
</nav>
