{% load wagtailcore_tags wagtailimages_tags %}
<div class="card card-border bg-neutral-200">
  <div class="card-body">
    <div class="avatar {% if user.profile.profile_picture.url == '' %}avatar-placeholder{% endif %}">
      <div class="w-24 rounded-full {% if user.profile.profile_picture.url == '' %}bg-neutral text-neutral-content{% endif %}">
        {% if user.profile.profile_picture.url != '' %}
          <img src="{{ user.profile.profile_picture.url }}" alt="Foto de perfil del usuario" />
        {% else %}
          <span class="text-3xl">{{ user.username }}</span>
        {% endif %}
      </div>
      <a class="card-title mx-1.5 link link-neutral" href="{% slugurl user.username %}">{{ user.username }}</a>
    </div>
    <p class="font-bold">Se unió el {{ user.date_joined|date:'SHORT_DATE_FORMAT' }}</p>
    <div class="divider"></div>
    <p class="whitespace-pre-line">{{ user.profile.bio }}</p>
  </div>
</div>
